#title {
  text-align: center;
}

#contact {
  margin-bottom: 2.5rem;
}

@media (min-width: 750px) {
  #contact {
    text-align: center;
  }
  #contact .link {
    display: inline-block;
    margin: 0 1rem;
  }
}
